In [2]:
from google.cloud import storage
import pandas as pd
import io
import os
import gzip

In [3]:
service_account_id = 'elijahsandler@net-data-viz-handbook.iam.gserviceaccount.com'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:\\Users\\elija\\Documents\\24f-coop\\net-data-viz-handbook-fe2c5531555d.json'

In [5]:
## Import data from Google Cloud

# Initialize a GCS client
client = storage.Client()

# Specify your bucket name and the specific .csv.gz file you want
bucket_name = 'gs_net-data-viz-handbook'
file_name = 'sample/importations/sample_SIR_importations_1.csv.gz'  # Update this to the specific file name

# Get the bucket and blob
bucket = client.get_bucket(bucket_name)
blob = bucket.blob(file_name)

# Download the .csv.gz file as bytes
compressed_content = blob.download_as_bytes()

# Decompress the .csv.gz content
with gzip.GzipFile(fileobj=io.BytesIO(compressed_content)) as gz:
    # Read the decompressed content into a pandas DataFrame
    df = pd.read_csv(gz)

In [13]:
# this is already formatted correctly, just need a map for basin to country/state/whatever you want to group basins by
df

,source_basin,target_basin,compartment,importations,date,run_id
0,1024,1361,Infectious,1,2009-04-09,1
1,1024,2217,Infectious,1,2009-04-29,1
2,1024,1034,Infectious,1,2009-05-10,1
3,1024,1018,Infectious,1,2009-05-13,1
4,1024,2125,Infectious,1,2009-05-14,1
...,...,...,...,...,...,...
2174114,1928,3233,Infectious,1,2010-02-17,1
2174115,1890,3234,Infectious,1,2010-02-17,1
2174116,1462,3250,Infectious,1,2010-02-17,1
2174117,3244,3250,Infectious,1,2010-02-17,1
2174118,3247,3250,Infectious,1,2010-02-17,1